<div class="about" ng-controller='AboutCtrl'>
  <div class="nav nav-black">
    <h1 class="main-header text-center">Lydia Paar</h1>
    <div class="navigation text-center">
      <ul>
        <li><a ng-href="#/">Home</a></li>
        <li><a ng-href="#/services">Services</a></li>
        <li><a ng-href="#/about">About</a></li>
        <li><a ng-href="#/contact">Contact</a></li>
      </ul>
    </div>
  </div>
  <div class="main main-white">
    <div class="main-about">
      <div class="row">
        <div class="col-sm-3">
          <img src="img/me-black-white.png" class="img-thumbnail img-responsive" id="about-img" alt="Lydia" width="250" height="250">
        </div>
        <div class="text-box col-sm-9">
          <h2 class="section-header">What I'm About</h2>
          <hr class="hr-small1">
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Blanditiis, autem, suscipit. Quo vitae recusandae eligendi natus pariatur nisi mollitia esse repudiandae sit laudantium! Nihil temporibus repellat, id.</p>
        </div>
      </div>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cupiditate laboriosam laudantium voluptatibus totam quaerat tenetur, sint cum error fugiat quos, necessitatibus nobis magnam obcaecati accusamus nemo. Ratione libero expedita aperiam.</p>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet recusandae tempora ipsum temporibus quo dolorum eos ad, repellendus. Minima voluptas quasi, culpa reprehenderit provident quisquam repellat amet aut vitae rerum?</p>
    </div>
  </div>
</div>
