<div class="about" ng-controller='AboutCtrl'>
  <div class="nav nav-black">
    <h1 class="main-header text-center">Lydia Paar</h1>
    <div class="navigation text-center">
      <ul>
        <li><a ng-href="#/">Home</a></li>
        <li><a ng-href="#/services">Services</a></li>
        <li><a ng-href="#/about">About</a></li>
        <li><a ng-href="#/contact">Contact</a></li>
      </ul>
    </div>
  </div>
  <div class="main main-white">
    <div class="main-about">
      <div class="row">
        <div class="col-sm-3 text-center">
          <img src="img/me-black-white.png" class="img-thumbnail img-responsive" id="about-img" alt="Lydia" width="250" height="250" align="middle">
          <div class="cv-dounload text-center">
               <a href="Lydia Paar resume.docx" target="_blank"><button class="button black-button" id="about-btn">View My Experience</button></a>
          </div>
        </div>
        <div class="text-box col-sm-9">
          <h2 class="section-header">About Me</h2>
          <hr class="hr-small1">
          <p>A freelance writer, editor, promoter, and seven-year college instructor by day (non-profit manager by night), I thrive on variety at work. Whether I'm collaborating with a client on persuasive content angles or researching citation styles with students, I love learning more than anything. </p>
          <p>I'm always on the hunt for new opportunities in work and project collaboration, so please don't hesitate to contact me about how I could help your concept grow!  I offer assistance in a variety of writing, editing, and promotional tasks, as well as consulting on communications-related topics.</p>
        </div>
      </div>
    </div>
  </div>
</div>
