<div class="contact" ng-controller='ContactCtrl'>
  <div class="nav nav-white">
    <h1 class="main-header text-center">Lydia Paar</h1>
    <div class="navigation text-center">
      <ul>
        <li><a ng-href="#/">Home</a></li>
        <li><a ng-href="#/services">Services</a></li>
        <li><a ng-href="#/about">About</a></li>
        <li><a ng-href="#/contact">Contact</a></li>
      </ul>
    </div>
  </div>
  <div class="main main-black">
      <div class="contact-form">
                  <form id="contactForm" action="form-process.php" method="POST" name="contactform" data-toggle="validator" class="contactForm">
                      <div class="input-group input-group-lg">
                          <span class="input-group-addon"><i class="fa fa-user"></i></span>
                          <input type="text" class="form-control" name="name" id="name"  placeholder="Your name" required data-error="NEW ERROR MESSAGE">
                      </div>
                      <div class="help-block with-errors"></div>
                      <div class="input-group input-group-lg">
                          <span class="input-group-addon"><i class="fa fa-envelope" aria-hidden="true"></i></span>
                          <input type="email" class="form-control" name="email" id="email" placeholder="Your email" required>
                      </div>
                      <div class="help-block with-errors"></div>
                      <div class="form-group">
                          <div class="input-group input-group-lg">
                              <span class="input-group-addon"><i class="fa fa-commenting" aria-hidden="true"></i></span>
                              <input type="email" class="form-control" name="email" id="email" placeholder="Your message" required>
                          </div>
                          <div class="help-block with-errors"></div>
                          <button type="submit" id="form-submit" class="btn-submit pull-right">Submit</button>
                          <div class="clearfix"></div>
                      </div>
                    </form>
            </div>
      <div class="social-icons">
        <div class="hr">
          <div></div>
          <div><em>OR</em></div>
          <div></div>
        </div>
        <div class="socials">
          <li class="email-sb sb"><a title="Email" href="mailto:paarlj@gmail.com"><i class="fa fa-envelope-o"></i></a></li>
          <li class="fb-sb sb"><a title="Facebook" href="https://www.facebook.com/lydia.paar?fref=ts" target="_blank"><i class="fa fa-facebook"></i></a></li>
          <li class="gplus-sb sb"><a title="Google+" href="https://plus.google.com/108820832546298733525" target="_blank"><i class="fa fa-google-plus"></i></a></li>
          <li class="linkedin-sb sb"><a title="LinkedIn" href="https://www.linkedin.com/in/lydia-paar-45309536" target="_blank"><i class="fa fa-linkedin"></i></a></li>
        </div>
      </div>
    </div>
  </div>
