<div class="services" ng-controller='ServicesCtrl'>
  <div class="nav nav-black">
    <h1 class="main-header text-center">Lydia Paar</h1>
    <div class="navigation text-center">
      <ul>
        <li><a ng-href="#/">Home</a></li>
        <li><a ng-href="#/services">Services</a></li>
        <li><a ng-href="#/about">About</a></li>
        <li><a ng-href="#/contact">Contact</a></li>
      </ul>
    </div>
  </div>
  <div class="main main-white">
    <h2 class="section-header">What I Offer</h2>
    <hr class="hr-small1">
  <br>
  <div class="row">
    <div class="col-sm-4 text-center">
      <i class="fa fa-power-off fa-3x" aria-hidden="true"></i>
      <h4>Proofreading</h4>
      <p>Lorem ipsum dolor sit amet..</p>
    </div>
    <div class="col-sm-4 text-center">
      <i class="fa fa-heart fa-3x" aria-hidden="true"></i>
      <h4>Content Review</h4>
      <p>Lorem ipsum dolor sit amet..</p>
    </div>
    <div class="col-sm-4 text-center">
      <i class="fa fa-lock fa-3x" aria-hidden="true"></i>
      <h4>Content Review + Proofreading</h4>
      <p>Lorem ipsum dolor sit amet..</p>
    </div>
  </div>
  <br><br>
  <div class="row">
    <div class="col-sm-4 text-center">
      <i class="fa fa-leaf fa-3x" aria-hidden="true"></i>
      <h4>Promotional Writing</h4>
      <p>Lorem ipsum dolor sit amet..</p>
    </div>
    <div class="col-sm-4 text-center">
      <i class="fa fa-certificate fa-3x" aria-hidden="true"></i>
      <h4>Poster Design</h4>
      <p>Lorem ipsum dolor sit amet..</p>
    </div>
    <div class="col-sm-4 text-center">
      <i class="fa fa-wrench fa-3x" aria-hidden="true"></i>
      <h4 style="color:#303030;">Communications Consulting</h4>
      <p>Lorem ipsum dolor sit amet..</p>
    </div>
  </div>
  </div>
</div>
