<div class="services" ng-controller="ServicesCtrl">
    <div class="nav nav-black">
        <h1 class="main-header text-center">Lydia Paar</h1>
        <div class="navigation text-center">
            <ul>
                <li><a ng-href="#/">Home</a></li>
                <li><a ng-href="#/services">Services</a></li>
                <li><a ng-href="#/about">About</a></li>
                <li><a ng-href="#/contact">Contact</a></li>
            </ul>
        </div>
    </div>
    <div class="main main-white">
        <h2 class="section-header">What I Offer</h2>
        <hr class="hr-small1">
        <br>
        <div class="row" id="services-1">
            <div class="container">
                <div class="col-sm-4" style="padding-left: 40px;padding-right: 40px;">
                    <div class="icon text-center">
                        <i class="fa fa-pencil fa-3x text-center" aria-hidden="true"></i>
                    </div>
                    <h4 class="text-center">Proofreading</h4>
                    <p>Superficial mistakes distract your reader from great ideas; good proofreading helps your...</p>
                    <div class="read-more text-center">
                        <button type="button" class="btn btn-info btn-sm" data-toggle="modal" data-target="#proofreadingModal">Read More</button>
                    </div>
                    <div class="modal fade" id="proofreadingModal" role="dialog">
                        <div class="modal-dialog">
                            <!-- Modal content-->
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                                    <h4 class="modal-title">Proofreading</h4>
                                </div>
                                <div class="modal-body">
                                    <p>Superficial mistakes distract your reader from great ideas; good proofreading helps your message shine through in the most clear and professional way!</p>
                                    <h5>What Does a Proofreading Edit Examine?</h5>
                                    <ul>
                                        <li>Sentence subject agreement</li>
                                        <li>Capitalization</li>
                                        <li>List form agreement</li>
                                        <li>Spelling</li>
                                        <li>Missing words</li>
                                        <li>Typos</li>
                                        <li>Correct word choice for meaning (diction)</li>
                                        <li>Comma splices/sentence fragments/run-on sentences</li>
                                        <li>Active phrasing and clarity</li>
                                        <li>Punctuation, including proper hyphenation, quotation form, and apostrophe use</li>
                                    </ul>
                                    <h5><b>Pricing</b></h5>
                                    <p>*Per double-spaced page, in 12 pt. <br>Times New Roman font $2 per page ($1 per page under market average!)</p>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4" style="padding-left: 40px;padding-right: 40px;">
                    <div class="icon text-center">
                        <i class="fa fa-pencil fa-3x" aria-hidden="true"></i>
                    </div>
                    <h4 class="text-center">Content Review</h4>
                    <p>Best order of information: most important to least important, broad to detailed...</p>
                    <div class="icon text-center">
                        <button type="button" class="btn btn-info btn-sm" data-toggle="modal" data-target="#contentreviewModal">Read More</button>
                    </div>
                    <div class="modal fade" id="contentreviewModal" role="dialog">
                        <div class="modal-dialog">
                            <!-- Modal content-->
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                                    <h4 class="modal-title">Content Edit</h4>
                                </div>
                                <div class="modal-body">
                                    <h5>What Does a Content Edit Examine?</h5>
                                    <p>A comprehensive examination of idea-effectivenes in a piece of writing, including:</p>
                                    <ul>
                                        <li>Best order of information: most important to least important, broad to detailed</li>
                                        <li>Natural beginnings and end-points of paragraphs</li>
                                        <li>Transitions between subtopics</li>
                                        <li>Missing information/gaps in narrative</li>
                                        <li>Motivation/ Cause-and-effect relationship clarity</li>
                                        <li>Main ideas coming through for the reader</li>
                                        <li>Any overarching content confusion</li>
                                    </ul>
                                    <p>I work for Sherman Writing Services to provide content feedback on works of fiction and creative nonfiction:<br />
                                        “We provide constructive criticism to help writers recognize the thematic and structural strengths and weaknesses in their manuscripts.  By offering new insight into how to improve the manuscript, we enable writers to focus their attention on necessary revisions and continue forward with preparing novels for submission or self-publishing.”-SWS<br>
                                        <br  />
                                        I have also examined these other types of documents for content:<br>
                                        Academic Papers including Theses/Dissertations<br>
                                        Essays<br>
                                        Business Plans<br>
                                        Love Letters<br>
                                        Sets of Instructions<br>
                                        Promotional Writing (ads, press releases)<br>
                                        Cover Letter and Resumes<br /><br />
                                    </p>
                                    <h5><b>Pricing</b></h5>
                                    <p>*Per double-spaced page, in 12 pt. Times New Roman font</p>
                                        <p>Up to 15 pages - $30<br>
                                        15 TO 25 PAGES - $49.00<br>
                                        UP TO 50 PAGES - $88.00<br>
                                        UP TO 75 PAGES - $127.00<br>
                                        UP TO 100 PAGES - $166.00<br>
                                        UP TO 300 PAGES - $360.00<br>
                                        UP TO 350 PAGES - $420.00<br>
                                        UP TO 400 PAGES - $480.00<br>
                                        UP TO 450 PAGES - $540.00<br>
                                        UP TO 500 PAGES - $600.00<br>
                                        UP TO 550 PAGES - $660.00<br>
                                        UP TO 600 PAGES - $720.00<br>
                                        600+ PAGES: Email for a price quote
                                    </p>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4" style="padding-left: 40px;padding-right: 40px;">
                    <div class="icon text-center">
                        <i class="fa fa-pencil fa-3x" aria-hidden="true"></i>
                    </div>
                    <h4 class="text-center">Content Review + Proofreading</h4>
                    <p>Includes assessment of organization & ideas plus all items corrected in...</p>
                    <div class="icon text-center">
                        <button type="button" class="btn btn-info btn-sm" data-toggle="modal" data-target="#cr-proofreadingModal">Read More</button>
                    </div>
                    <div class="modal fade" id="cr-proofreadingModal" role="dialog">
                        <div class="modal-dialog">
                            <!-- Modal content-->
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                                    <h4 class="modal-title">Content Plus Proofreading Edit</h4>
                                </div>
                                <div class="modal-body">
                                    <p>Includes assessment of organization & ideas plus all items corrected in a proofreading edit.</p>
                                    <h5><b>Pricing</b></h5>
                                    <p>SWS content rate based on document length, plus $1 per page. <br>
                                    * The best deal!  This is 50% of the normal proofread per page cost.</p>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <br>
            <div class="row" style="margin-top=5em" id="services-2">
                <div class="container" >
                <div class="col-sm-4" style="padding-left: 40px;padding-right: 40px;">
                    <div class="icon text-center">
                        <i class="fa fa-pencil fa-3x" aria-hidden="true"></i>
                    </div>
                    <h4 class="text-center">Promotional Writing</h4>
                    <p>Promotional writing includes press releases, ad copy, newsletter or blog content, ...</p>
                    <div class="icon text-center">
                        <button type="button" class="btn btn-info btn-sm" data-toggle="modal" data-target="#promotionalwritingModal">Read More</button>
                    </div>
                    <div class="modal fade" id="promotionalwritingModal" role="dialog">
                        <div class="modal-dialog">
                            <!-- Modal content-->
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                                    <h4 class="modal-title">Promotional Writing</h4>
                                </div>
                                <div class="modal-body">
                                    <p>Promotional writing includes press releases, ad copy, newsletter or blog content, letters to potential donors or investors, and even the prose portion of grant applications and business plans.</p>
                                    <p>Please see samples of my work:</p>
                                    <ul>
                                        <li><a href="work-samples/promo-writing/Coraline book review.doc" target="_blank">Coraline book review</a></li>
                                        <li><a href="work-samples/promo-writing/Grant Application Sample.pdf" target="_blank">Grant application</a></li>
                                        <li><a href="work-samples/promo-writing/Humor Writing Sample.pdf" target="_blank">Humor writing</a></li>
                                        <li><a href="work-samples/promo-writing/Musician Press Release.pdf" target="_blank">Musician press release</a></li>
                                        <li><a href="work-samples/promo-writing/Raven Cafe Full Article.pdf" target="_blank">Raven cafe full article</a></li>
                                    </ul>
                                    <h5><b>Pricing</b></h5>
                                    <p>Pricing: $35 per hour</p>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4" style="padding-left: 40px;padding-right: 40px;">
                    <div class="icon text-center">
                        <i class="fa fa-pencil fa-3x" aria-hidden="true"></i>
                    </div>
                    <h4 class="text-center">Poster Design</h4>
                    <p>Unique and eye-catching posters make people suddenly aware of your services and...</p>
                    <div class="icon text-center">
                        <button type="button" class="btn btn-info btn-sm" data-toggle="modal" data-target="#posterdesignModal">Read More</button>
                    </div>
                    <div class="modal fade" id="posterdesignModal" role="dialog">
                        <div class="modal-dialog">
                            <!-- Modal content-->
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                                    <h4 class="modal-title">Poster Design</h4>
                                </div>
                                <div class="modal-body">
                                    <p>Unique and eye-catching posters make people suddenly aware of your services and events, and then linger in the memory.  Good design can mean the difference between going unnoticed and generating the right kind of interest in your work, right away. </p>
                                    <p>Please see samples of my work:</p>
                                    <ul>
                                        <li><a href="work-samples/poster/Bingo Poster.pdf" target="_blank">Bingo poster</a></li>
                                        <li><a href="work-samples/poster/Poetic License Pass.pdf" target="_blank">Poetic license pass</a></li>
                                        <li><a href="work-samples/poster/Riddley Bits Trivia Event poster.pdf" target="_blank">Riddley bits trivia event poster</a></li>
                                        <li><a href="work-samples/poster/SoLit Event List Poster.pdf" target="_blank">SoLit event list poster</a></li>
                                        <li><a href="work-samples/poster/SoLit Gala Poster.pdf" target="_blank">SoLit gala poster</a></li>
                                    </ul>
                                    <h5><b>Pricing</b></h5>
                                    <p>$30 per poster/flyer</p>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4" style="padding-left: 40px;padding-right: 40px;">
                    <div class="icon text-center">
                        <i class="fa fa-pencil fa-3x" aria-hidden="true"></i>
                    </div>
                    <h4 class="text-center" style="color:#303030;">Communications Consulting</h4>
                    <p>Sometimes, in the communications business (and all businesses are that!), you just need...</p>
                    <div class="icon text-center">
                        <button type="button" class="btn btn-info btn-sm" data-toggle="modal" data-target="#commconsultingModal">Read More</button>
                    </div>
                    <div class="modal fade" id="commconsultingModal" role="dialog">
                        <div class="modal-dialog">
                            <!-- Modal content-->
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                                    <h4 class="modal-title">Communications Consulting</h4>
                                </div>
                                <div class="modal-body">
                                    <p>Sometimes, in the communications business (and all businesses need good communication!), you just need a little guidance. With over fifteen years in the field of “effective expression,” I can be your guide on many topics, including:</p>
                                    <ul>
                                        <li>Basic arts/media business how-to’s</li>
                                        <li>Persuasive writing and design principles</li>
                                        <li>Targeting and attracting specific audiences</li>
                                        <li>Creative writing best practices </li>
                                    </ul>
                                    <h5><b>Pricing</b></h5>
                                    <p>$30 per hour</p>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        </div>
    </div>
</div>
